


/* ===========================
   Google Font
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* ===========================
   Reset
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
    line-height:1.6;
}

/* ===========================
   Navbar
=========================== */

header{
    width:100%;
    background:#0d6efd;
    position:sticky;
    top:0;
    z-index:1000;
}

nav{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 0;
}

.logo h2{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:17px;
    transition:.3s;
}

nav ul li a:hover{
    color:#ffd700;
}

/* ===========================
   Hero Section
=========================== */

.hero{
    display: flex;
    align-items: flex-start;   /* Moves everything to the top */
    justify-content: space-between;
    width: 90%;
    margin: 80px ;
    gap: 60px;
    
}

.hero-text{
    margin-left: 420px; /* Leaves space for the image */
    flex:1;
}

.hero-text h3{
    
    text-align: center;
    font-size:25px;
    margin-top: 10px;

}

.hero-text h1{
    
    text-align: center;
    font-size:50px;
    color:#0d6efd;
    
}

.hero-text h2{
    
    text-align: center;
    font-size:30px;
    margin-bottom:20px;
}



.hero-text p{
    font-size:17px;
    margin-bottom:30px;
}

.hero-image{
    flex:1;
    display:flex;
    justify-content:center;
}
.hero-img{
    width: 350px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,.4);
    animation:float   4s ease-in-out infinite;
    position: absolute;
    top: 150px;   
    left: 50px;
}



@keyframes float{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0px);
    }
}


/* ===========================
   Buttons
=========================== */

.btn{
    display: inline-block;
    padding: 12px 30px;
    background: #00bcd4;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: .4s;
}

.btn:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 25px #00bcd4;
}

/* ===========================
   Sections
=========================== */

section{
    width:90%;
    margin:70px auto;
}

.heading{
    text-align:center;
    font-size:35px;
    margin-bottom:40px;
    color:#0d6efd;
}

/* ===========================
   About
=========================== */

.about{
    background:white;
    padding:30px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

/* ===========================
   Skills
=========================== */

.skills{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
}

.box{
    background:white;
    padding:20px;
    text-align:center;
    border-radius:50px;
    font-weight:600;
    box-shadow:0 0 20px rgba(0,0,0,.1);
    transition:.3s;
}

.box:hover{
    background:#0d6efd;
    color:white;
    transform:translateY(-5px);
}

/* ===========================
   Education
=========================== */

.education{
    display:flex;
    justify-content:center;
}

.edu-card{
    background:white;
    width:500px;
    padding:30px;
    border-radius:8px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

.edu-card h3{
    color:#0d6efd;
    margin-bottom:15px;
}

/* ===========================
   Projects
=========================== */

.project-card{
    background:white;
    padding:30px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

.project-card h3{
    color:#0d6efd;
    margin-bottom:15px;
}

.project-card h4{
    margin-top:20px;
    margin-bottom:10px;
}

.project-card ul{
    margin-left:20px;
    margin-bottom:20px;
}

/* ===========================
   Achievement
=========================== */

.achievement{
    background:white;
    padding:25px;
    text-align:center;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    font-size:18px;
}

/* ===========================
   Contact
=========================== */

.contact{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

.contact-info p{
    margin-bottom:20px;
    font-size:18px;
}

.contact-info i{
    color:#0d6efd;
    margin-right:10px;
}

.contact-info a{
    text-decoration:none;
    color:#333;
}

.contact form{
    display:flex;
    flex-direction:column;
}

.contact input,
.contact textarea{
    margin-bottom:15px;
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
}

.contact textarea{
    resize:none;
}

/* ===========================
   Footer
=========================== */

footer{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
}

/* ===========================
   Responsive Design
=========================== */

@media(max-width:900px){

.hero{
    flex-direction:column;
    text-align:center;
    margin-top:40px;
}

.hero-text h1{
    font-size:40px;
}

.hero-text h2{
    font-size:25px;
}

.profile{
    width:200px;
    height:200px;
    font-size:70px;
}

.contact{
    grid-template-columns:1fr;
}

nav{
    flex-direction:column;
}

nav ul{
    flex-wrap:wrap;
    justify-content:center;
    margin-top:15px;
}

nav ul li{
    margin:10px;
}

.edu-card{
    width:100%;
}

}

@media(max-width:600px){

.heading{
    font-size:28px;
}

.hero-text h1{
    font-size:32px;
}

.hero-text h2{
    font-size:22px;
}

.hero-text p{
    font-size:15px;
}

.btn{
    width:100%;
    text-align:center;
}
.profile-img{
    width:260px;
    height:330px;
}

}

html{
    scroll-behavior:smooth;
}

/* Background 